body{
    margin:0px;
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: 'Lato', sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

img{
    height: 100px;
    width: auto;
}
#backgroundpic{
    height:100vh;
    width:40vw;
    position: absolute;
}
@font-face {
    font-family:Norse;
    src: url(./Norse-Bold.otf);
}
.highlight{
    top: 150px;
    width:40vw;
    display: flex;
    flex-direction: row;
    font-size: 100px;
    font-family:Norse;
    background-color: black;
    opacity: 0.6;
    position: relative;
    color: royalblue;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#odin{
    padding-top: 20px;
}

.form{
    display: flex;
    flex-direction:column;
    width: 60vw;
}
.top{
    height: 30vh;
    width:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    background-color: whitesmoke;
}
#lets{
    font-size: 28px;
    color:rgba(13, 75, 163, 0.659);
}

.boxinput{
    padding-top:  10px;;
    display: flex;
    flex-direction: column;
    max-width: 150px;

}
label{
    padding-bottom: 2.5px;
}
input{
    border: 2px solid #000;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}
input:invalid{
    border-color: red;
}

input:valid{
    border-color: royalblue;
}

.fillup{
    padding-right: 20vw;
    padding-left: 5vw;
    height: 45vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.footer{
    height: 20vh;
    padding-right: 20vw;
    padding-left: 5vw;
    position: fixed;
    bottom:0;
    width: inherit;
}

#creation{
    background-color:royalblue;
    border: none;
    padding:16px 32px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

#login{
    color: royalblue;
}